

:root {
    --primary-color: #6c63ff; 
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);    
}

body {
    margin: 100px 0;
}
main {
    text-align: center;
    
        
}
p {
    color: rgb(208, 238, 241);
    text-align: justify;
    font-size: 16px;
}

a {
    font-size: 18px;
    text-decoration: none !important;
}



 


footer {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.annie-pic {
    width: 100px;
    border-radius: 100%;
}
.annie-logo {
    width: 250px;
    border-radius: 50px;
}
.annie {
  color: blueviolet;
  font-size: 40px;
}

.about-annie {
width: 100%;
padding: 10px ;
}

.profile-photo {
  width: 200px;
  border-radius: 10px;
  
}

.biography {
  line-height: 1.5;
  letter-spacing: 2px;
  text-align: justify;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}

.container {
    
    background-color: black; 
    padding: 50px;
    
    }
    
.secondary-link {
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    border: 1px solid var(--primary-color);
    
  }
  
  .primary-link:hover {
    background: rgb(92, 68, 179);
    color: white;
    opacity: 0.6;

  }
  
  .primary-link {
    margin-left: 30px;
    border-radius: 10px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  .work-link {
    margin-left: 30px;
    border-radius: 10px;
    padding: 20px 15px;
    text-decoration: none;
    border: 1px solid white;
  
    background-color: black;
  color: whitesmoke;
  }
.work-link:hover {
  color: black;
  background-color: white;
}
  .poem-link {
    border-radius: 10px;
    padding: 13px;
    text-decoration: none;
    text-transform: capitalize;
    background-color: rgb(56, 17, 56);
    color: white;
    border: 1px solid rgb(22, 10, 22);

  }
  

@media (max-width: 576px) {
    stan {
      font-size: 48px;
      line-height: 1.5;
    }
  
    h2 {
      font-size: 32px;
      text-align: center;
    }
  
    p {
      text-align: center;
      text-align: right;
    }
  
    .project-link {
      display: block;
      text-align: center;
      margin: 0 20px;
    }
    .biography {
    font-size: 14px;
    }

    .about-annie {
      max-width: 50%;
    }
    
    
  }
  