

:root {
    --primary-color: #839788; 
    --secondary-color: #ebd5b3;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);    
}

body {
    margin: 100px 0;
    background: #eee0cb;
}
main {
    text-align: center;
    
        
}
p {
    color: rgb(208, 238, 241);
    text-align: justify;
    font-size: 16px;
}

a {
    font-size: 18px;
    text-decoration: none !important;
}



 


footer {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.annie-salis {
  border-radius: 100%;


}
.annie {
  color: var(--primary-color);
  font-size: 40px;
}

.about-annie {
width: 100%;
padding: 10px ;
}

.profile-photo {
  width: 200px;
  border-radius: 10px;
  
}

.biography {
  line-height: 1.5;
  letter-spacing: 2px;
  text-align: justify;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}

.container {
    
    background-color: #a5b3a9; 
    
    
    }
    
.secondary-link {
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    border: 1px solid var(--primary-color);
    
  }
  
  .primary-link:hover {
    background: var(--primary-color);
    color: white;
    opacity: 0.6;

  }
  
  .primary-link {
    margin-left: 30px;
    border-radius: 10px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  .work-link {
    margin-left: 30px;
    border-radius: 10px;
    padding: 20px 15px;
    text-decoration: none;
    border: 1px solid var(--primary-color);
  
    background-color: var(--primary-color);
  color: whitesmoke;
  }
.work-link:hover {
  color: black;
  background-color: white;
}
  .poem-link {
    border-radius: 10px;
    padding: 13px;
    text-decoration: none;
    text-transform: capitalize;
    background-color: rgb(56, 17, 56);
    color: white;
    border: 1px solid rgb(22, 10, 22);

  }
  
  .dark {
    background: hwb(0 3% 97%);
    color: rgb(247, 235, 235);
  }
  .dark a {
    color: rgb(189, 179, 179);
    
  }
  .dark p {
    color: rgb(241, 237, 237);
  }
  .dark .container {
    background: #080808;
  }
  .dark {
    color: #0a0a0a;
  }

  .bio {
    border-radius: 100%;
    padding: 20px;
    font-weight: 900;
    background-color: #869fb4
    
  }
  

  
  
@media (max-width: 756px) {
  
    stan {
      font-size: 48px;
      line-height: 1.5;
    }
  
    h2 {
      font-size: 32px;
      text-align: center;
    }
  
    p {
      text-align: left;
      font-size: 13px;
      
    }
  
  .primary-link:hover {
    background: var(--primary-color);
    color: white;
    opacity: 0.6;

  }
  
 
  .primary-link:hover {
    background: var(--primary-color);
    color: white;
    opacity: 0.6;

  }
  
  .primary-link {
    display: inline-block;
    font-size: 12px;
    margin: 10px auto;
    border-radius: 10px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: #5c685f;
    border: 1px solid var(--primary-color);
    max-width: 100%;
  }
  .work-link {
    display: inline-block;
    margin-left: 30px;
    border-radius: 10px;
    padding: 20px 15px;
    text-decoration: none;
    border: 1px solid var(--primary-color);
    max-width: 100%;
    background-color: var(--primary-color);
  color: white;
  font-size: 12px;
  max-width: 100%;
  }
 
   
.work-link:hover {
  color: black;
  background-color: white;
}
    .about-annie {
      max-width: 50%;
    }
   .container
   {
    max-width: 100%;
   }
   .annie-pic {
   width:  70px;
   border-radius: 10px;
   }
   .work-shop {
    display: none;
   }
  }
  